/*CSS AFRICTRAD : WEBDESIGN*/

/*GoogleFonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/*GENERAL*/
img{
    width : 100%;
}

a , a:visited {
    text-decoration: none;
    text-decoration-color: white;
}

body{
    font-family : 'Open Sans', serif;
}

h2 {
    font-size: 190%;
    line-height: 90px;
}
/******************/


/*HEADER*/

    /*NAV BAR*/
    header .nav-bar .bouton {
        background-color: #f9ad3f;
        text-align: center;
        color: white;
        font-size : 140%;
        font-family : 'Fjalla One', serif;
        padding-top : 3%;
        padding-bottom : 3%;
        margin : 3%;
        margin-top : 3%;
    }

    header .nav-bar .bouton:hover {
        background-color: #ffa119;
        transition: 0.2s;  
        border-style: solid;
        border-width: 3px;
    }

    header .nav-bar .bouton

 .nav-bar img{
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    header .section{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        background: white;
    }

div.col.span_1_of_5 {
    padding-top: 0.5%;
}
    /******************/

    /*BANNIERE*/
    header .banniere{
        background-image: url("../src/img/banniere.png");
        background-size : cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;

    }

    header .banniere #ban{
        visibility: hidden; 
    }

    header .banniere #logoafrictrad{
        width : 40%;
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        /*
        Pour superposer des images 
        Image de fond  : positon relative
        Image superposée : position absolute
        Ajouter top : 50%, left : 50%, transform: translate (-50%,-50%) 
        pour centrer l'image enfant
        */
        
    }

    /******************/
    /*SEARCH BAR*/
    header .banniere #searchbar{
        position: absolute;
        top : 15%;
        left : 93%;
        transform: translate(-95%,-95%);
        border-color : blue;

    }
    .sb-search {
        position: relative;
        margin-top: 10px;
        width: 0%;
        min-width: 60px;
        height: 60px;
        float: right;
        overflow: hidden;

        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        transition: width 0.3s;

        -webkit-backface-visibility: hidden;
    }

    .sb-search-input {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        background: #fff;
        margin: 0;
        padding: 20px 65px 20px 20px;
        font-family: inherit;
        font-size: 20px;
        color: #2c3e50;
    }

    input[type="search"].sb-search-input {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }

    .sb-search-input::-webkit-input-placeholder {
        color: #efb480;
    }

    .sb-search-input:-moz-placeholder {
        color: #efb480;
    }

    .sb-search-input::-moz-placeholder {
        color: #efb480;
    }

    .sb-search-input:-ms-input-placeholder {
        color: #efb480;
    }

    .sb-icon-search,
    .sb-search-submit  {
        width: 60px;
        height: 70px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
    }


    .sb-search-submit {
        background: #fff; /* IE needs this */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
        filter: alpha(opacity=0); /* IE 5-7 */
        opacity: 0;
        color: transparent;
        border: none;
        outline: none;
    }

    .sb-icon-search {
        color: #fff;
        background: #ffa119;
        font-size: 22px;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }

    .sb-icon-search:before {
        content: "\e000";
    }

    @font-face {
        font-family: 'icomoon';
        src:url('../fonts/icomoon/icomoon.eot');
        src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
            url('../fonts/icomoon/icomoon.woff') format('woff'),
            url('../fonts/icomoon/icomoon.ttf') format('truetype'),
            url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .sb-search.sb-search-open,
    .no-js .sb-search {
        width: 100%;
    }

    .sb-search.sb-search-open .sb-icon-search,
    .no-js .sb-search .sb-icon-search {
        background: #ffa119;
        color: #fff;
    }

    .sb-search{
    position: absolute;
        top : 25%;
        left : 95%;
        transform: translate(-95%,-95%);
    }
    /******************/
/******************/

/*A PROPOS*/
body #apropos{
    background-color: #3d3d3d;
    color : white;
    padding: 5% 0;
}

    /*TITRE*/
    body #apropos h2{
        color : #f9ad3f;
        margin-left : 10%;
        font-family: 'Fjalla One', serif;
    }
    /******************/    
    /*CONTENU*/
    body #apropos .content{
        color : white;
        font-size: 95%;
        margin-left : 10%;
        margin-right: 10%;
        padding-bottom: 2%;
        line-height: 15pt;
    }
    /******************/

/******************** DEVIS ********************/
#devis{
    background-color: #ffa20c;
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Fjalla One', serif;
}

#devis h2{
    color: #fff;
    padding: 2px;
    padding-bottom: 3%;
    text-align: center;
}

#bt{
    display: flex;
    justify-content: space-around;
}

.bouton-devis {
    margin-right: 15%;
	padding:15px;
	background:#fff;
	color: #ffa20c;
    text-align: center;
	width:150px;
	border-radius:2px;
	border:none;
    display: inline-block;
}
    
/******************/

/*CONTACT*/

body #contact-form {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 2%;
    margin: auto;
}
    /*TITRE*/
    body #contact-form h2{
        padding-top : 2%;
        padding-bottom: 2%;
        font-family: 'Fjalla One', serif;
    }


/******************** CONTACT ********************/
#contact{
    background-color: #fff;
}

#contact h2, h4{
    color: #3d3d3d;
    text-align: center;
}

#contact-form{
    text-align: center;
}

#input-name, #input-prenom, #input-email, #input-subject, #input-message, #input-langueSource, #input-langueArrivee, #input-file{
    border: 1px solid #ffa20c;
    margin: 8px;
    padding: 8px;
    width: 20%;
}

#input-submit{
    margin: 8px;
    padding: 8px;
	background: #ffa20c;
    text-align: center;
	color: #fff;
	width: 150px;
	border-radius: 2px;
	border: none;
}

/******************/
/******************/

/*NOS CLIENTS*/
body #clients{
    color : black;
    text-align: center;
    border-style: solid;
    border-color : #f9ad3f;
    border-width: 5px;
    padding-bottom: 10%;
    padding-top: 2%;
    margin: auto;
}
    /*TITRE*/
    body #clients h2 {
        padding-top : 2%;
        padding-bottom: 2%;
        font-family: 'Fjalla One', serif;
    }
    /******************/
    /*LOGOS*/
    body #clients .logos img  {
        max-width: 100px;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        vertical-align: middle;
    }
    /******************/
/******************/

/*FOOTER*/
footer {
    background-color:#3d3d3d; 
    padding-top: 2%;
    padding-bottom:7%;
}

footer .col.span_1_of_3 img{
    width : 50%;
    padding-left: 40%;
}

footer div{
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
    color: white;
    font-size: 100%;
    
}

footer div#cpr{
    text-align: right;
    margin: auto;
}

/******************/



/*BODY*/


/* SERVICES */
.service-container{
    padding: 5% 0;
}
/* .service-container p{
    font-family: 'Open Sans';
} */
.service{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.service img{
    /* width: 100%; */
}
.img-service{
    width: 100%;
}
.icon{
    width: 10%;
    padding: 2% 0 5% 0;
}
.title-service{
    font-family: 'Fjalla One';
    text-align: center;
}
.text-service{
    padding: 0 5% 0 5%;
    font-size: 110%;
    line-height: 30px;
}
.title-column{
    font-family: 'Fjalla One'; 
    font-size: 120%;
    line-height: 50px;
    letter-spacing: 9px;
}
.title-inter{
     margin: 0 50px;
}

.serv-line1 .column1{
    padding: 0 50px;
}
.icon-service{
    padding: 5% 2%;
}
.icon-service p{
    line-height: 25px;
}

.serv-line2, .serv-line3 .column1{
    text-align: center;
}
.serv-line3 .column2{
    text-align: center;
}

/* END SERVICES */
@media (max-width: 1920px) {
    .text-service p{
        font-size: 120%;
        line-height: 25px;
    }
}
@media (max-width: 1440px) {
     /* SERVICE */
     .text-service{
        font-size: 100%;
        line-height: 22px;
        padding: 0 15px;
    }
     /* END SERVICE */
}
@media (max-width: 1150px) {
    .text-service p{
        font-size: 100%;
        line-height: 22px;
    }
}
@media (max-width: 1150px) {
    .text-service p{
        font-size: 90%;
        line-height: 20px;
    }
    .title-column{
        font-size: 100%;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .text-service p {
        font-size: 75%;
        line-height: 18px;
    }  
    .title-column{
        font-size: 80%;
        line-height: 20px;
        letter-spacing: 4px;
    }
    header .nav-bar .bouton{
        font-size: 100%;
    }
}
@media (min-width: 641px) {
    .mobile{
        display: none;
    }
    
    
}
@media (max-width: 640px) {
    .desktop{
        display: none;
    }
    
    /*Search Bar*/
    
    .sb-icon-search, .sb-search-submit{
        width: 60px;
        height: 40px;
        line-height: 40px;
    
    }
    
    .sb-search-input{
        padding: 0px 65px 13px 0px;
    }
    /****End Search Bar*****/

    
    /*DEVIS*/
    #bt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    div.bouton-devis {
        margin-bottom: 7%;
    }
    
    /****End devis*****/

        /* SERVICE */
    .service{
        grid-template-columns: 100%;
        padding: 0 15px;
    }
    .text-service{
        font-size: 80%;
        line-height: 20px;
        padding: 0 15px;
        }
    .title-column{
        font-size: 100%;
        letter-spacing: 5px;
        line-height: 30px;
    }
    .icon{
        width: 25%;
    }
   .serv-line1 .column1 {
        padding: 0 15px;
    }
        /* END SERVICE */
}

@media (max-width: 320px) {
    
}